.quiz-container {
  position: absolute;
  top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* min-height: 80vh; */
  width: 100%;  
 
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.question-progress {
  /* display: flex; */
  height: 20%;
  /* justify-content: space-between; */
  /* align-items: center; */
    background: #fff;
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  padding: 20px;

  margin-bottom: 20px;
}
.progress-circle-div {
  display: flex;
   margin-top: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* margin-bottom: 20px; */
}
.question-progress-text-div{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.progress-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: linear-gradient(145deg, #e0e0e0, #f8f9fa);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 14px;
  font-weight: bold;
  /* color: #333; */
 transition: 'background 0.5s', 'color 0.5s';
 /* box-shadow: inset -1px -1px 2px #ffffff,
              inset 1px 1px 2px rgba(0, 0, 0, 0.1); */
}
.progress-circle.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.progress-circle:hover {
  /* background-color: #a7cdf2; */
  border: 2px solid #007bff;
  box-shadow: 0 0 0 2px #007bff33;
  	/* -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
  
}
.progress-circle.active {
  background:  linear-gradient(145deg, #007bff, #0056b3);
  color: #fff;
  transition: 'background 0.5s', 'color 0.5s';
    /* border: 2px solid #007bff; */
    /* box-shadow: 0 0 0 2px #007bff33; */
    /* box-shadow: 0 0 10px rgba(0, 123, 255, 0.4),
              inset -2px -2px 6px rgba(255, 255, 255, 0.2),
              inset 2px 2px 6px rgba(0, 0, 0, 0.2); */
    transform: scale(1.15);
   /* scale: 1.2; */

   /* padding: 0.2rem; */
}

.question-card {
  background: #fff;
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  padding: 20px;
}

.question-header {
  margin-bottom: 20px;
}
.technologies-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.technology-item {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 123, 255,0.2);
  border-radius: 0.8rem;
}
.technology-item:hover {
  background-color: rgb(0, 123, 255,0.3);
  box-shadow: 0 0 0 2px #007bff33;
  	/* -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
  
}
.technology-badge, .technology-label {
  margin: 0.4rem 0.2rem;
  font-size: 14px;
  color: #007bff;  
  padding: 0.05rem;
  /* font-weight: bold; */
  /* padding: 8px  8px; */
  
}


.question-header h2 {
  font-size: 20px;
  margin: 0;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px ;
}

.option-button {
  display: flex;
  align-items: center; 
  flex-direction: row;
  gap: 0.8rem;
  padding: 0.7rem 0.8rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 0.6rem;
}
/* .option-button input[type="radio"] {
  margin-right: 10px;
} */
.option-button .option-text {
  font-size: 16px;
  /* display: flex; */
  padding: 0.4rem;
  margin-left: 1.2rem;
  white-space: pre-wrap;
}


.option-button:hover {
  /* background-color: #a7cdf2; */
  border: 1px solid #007bff;
  box-shadow: 0 0 0 2px #007bff33;
  	/* -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
  
}

.option-button input[type="radio"] {
  display: none;
}

.custom-radio {
  flex-shrink: 0; 
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  max-width: 1rem;
  max-height: 1rem;
  border: 2px solid #007bff;
  border-radius: 50%;
  /* margin-top: 0.2rem; */
  margin-right: 10px;
  vertical-align: middle;
  background: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
  position: relative;
}


.option-button input[type="radio"]:checked + .custom-radio {
  background: #007bff;
  box-shadow: 0 0 0 2px #007bff33;
}


.option-button:hover .custom-radio {
  /* border-color: #a61137;
  box-shadow: 0 0 0 2px #a6113733; */
  border-color: #007bff;
  box-shadow: 0 0 0 2px #007bff33;
}

.option-button.selected {
  background: rgb(151, 191, 234,0.3);
  scale: 1.02;
    box-shadow: 0 0 0 2px #007bff33;
  /* color: #fff; */
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-button {
   /* background: #0056b3; */
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
    letter-spacing: 0.3px;
  box-shadow: 0 6px 14px rgba(0, 123, 255, 0.25);
}

.nav-button:hover {
  /* scale: 1.02;
  background:  #a61137; */
   transform: translateY(-2px) scale(1.05);
  background: linear-gradient(135deg, #ff4d6d, #a61137);
  box-shadow: 0 8px 20px rgba(166, 17, 55, 0.3);
}

.nav-button:disabled {
  /* background: #e0e0e0;
  color: #999; */
  /* cursor: not-allowed; */
   background: linear-gradient(135deg, #e0e0e0, #cfcfcf);
  color: #999;
  cursor: not-allowed;
  box-shadow: none;
}

.timer {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #007bff;
}

.result-modal {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.7);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:999;
}

.result-card {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align:center;
  animation: zoomIn 0.5s ease;
}

.result-card h2 {
  margin-bottom: 1rem;
}

.celebration h2 {
  color: green;
}

.fail h2 {
  color: red;
}

@keyframes zoomIn {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  90% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}
